
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
.block {
    border: 1px solid black;
} */

table {
    margin: 20px 0 5px 0;

    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}