
body {
    background-color: rgb(31, 30, 30);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(235, 234, 234);
}

.deleteButton, .eddButton, .editButton, .submitButton {
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(77, 194, 81);
    color: rgb(235, 234, 234);
    font-size: 14px;
    margin: 5px 5px 0 0;
    cursor: pointer;
}
.editButton {
    background-color: cornflowerblue;
}
.deleteButton {
    width: 70px;
    background-color: rgb(188, 56, 56);
}
.eddButton {
    background-color: rgb(77, 194, 81);
}
/* 
.block {
    border: 1px solid black;
} */


td, th {
    text-align: center;
    /* border: 1px solid black; */
}

th {
    margin-right: 50px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.inputArea {
    margin-top: 10px;
    flex: 1 1 auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.submitButton {
margin: 5px 0 0 0;
}
.inputArea {}