<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/style/style.css"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneToOneRelationship</title>
</head>
<body>
    <div class="wrapper">
        <h2>Drivers</h2>
    <table>
        <tr>
            <td>стаж</td>
            <td>возраст</td>
            <td>Имя</td>
            <td>Фамилия</td>
        </tr>
        {%for driver in drivers%}
        <tr>
            <td>{{driver.stage}}</td>
            <td>{{driver.age}}</td>
            <td>{{driver.first_name}}</td>
            <td>{{driver.last_name}}</td>
            <td>
                <a href="delete/driver/{{driver.id}}"><button class="button delete">Удалить</button></a>
            </td>
            <td>
                <a href="update/driver/{{driver.id}}"><button class="button update">Редактировать</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="addItem/driver/"><button class="button add" >Добавить</button></a>
 
    <h2>Routes</h2>
    <table>
        <tr>
            <td>начало</td>
            <td>конец</td>
            <td>водитель</td>
        </tr>
        {%for route in routes%}
        <tr>
            <td>{{route.city_from}}</td>
            <td>{{route.city_to}}</td>
            <td>{{route.driver_id}}</td>
            <td><a href="delete/route/{{route.driver_id}}"><button class="button delete">Удалить</button></a></td>
            <td><a href="update/route/{{route.driver_id}}"><button class="button update">Редактировать</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="addItem/route/"><button class="button add" >Добавить</button></a>
    </div>
</body> 
</html>